html{
    font-family: sans-serif;
}

nav{
    top: 0;
	left: 0;
	right: 0;
    margin: auto;
    background-color: white;
    position: sticky;
	min-width: 1000px;
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 1; /*vero que é*/
}

.site-largura {
	width: 1000px;
	margin: 0 auto;
}

.m-superior{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.margem{
    margin: 0 1rem;
}

.logo{
    display: flex;
    font-weight: bold;
    align-items: baseline;
}

.vermelho{
    color: #f35926;
    font-size: 35px;
}
.amarelo{
    color: #fcb929;
    font-size: 35px;
}
.verde{
    color: #00b049;
    font-size: 35px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}


header{
    min-width: 1000px;
    height: 335px;
    background-image: url("../img/barcos.webp");
    background-size: 100% 335px;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtro{
    width: 1000px;
    height: 145px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
}

.conteudo{
    display: flex;
    width: 1000px;
    height: auto;
    margin: auto;

}
h2{
    font-weight: bold;
    font-size: 1.5em;
}
