html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.superior{
    display: flex;
    justify-content: space-between;
    min-width: 1000px;
    width: 1000px;
    height: 50px;
    align-items: center;
    margin: auto;
}


.menu{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}


.logo{
    display: flex;
    font-weight: bold;
    align-items: baseline;
}

.vermelho{
    color: #f35926;
    font-size: 35px;
}
.amarelo{
    color: #fcb929;
    font-size: 35px;
}
.verde{
    color: #00b049;
    font-size: 35px;
}

header{
    min-width: 1000px;
    height: 420px;
    background-image: url("../img/barcos.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}

.conteudo{
    display: flex;
    width: 1000px;
    height: auto;
    margin: auto;

}
h2{
    font-weight: bold;
    font-size: 1.5em;
}
