html{
    font-family: sans-serif;
}

nav{
    top: 0;
	left: 0;
    background-color: white;
    position: sticky;
	min-width: 1000px;
    height: 50px;
    display: flex;
    align-items: center;
}

.siteLargura {
	width: 1000px;
	margin: 0 auto;
}

/*ok---------------------------------------------------------*/

.margem{
    margin: 0 2.5px;
}

/*ok---------------------------------------------------------*/

.m-superior{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*ok---------------------------------------------------------*/

.logo{
    display: flex;
    font-weight: bold;
    align-items: baseline;
}
.n{
    font-size: 35px;
}
.vermelho{
    color: #f35926;
}
.amarelo{
    color: #fcb929;   
}
.verde{
    color: #00b049;
}

/*ok---------------------------------------------------------*/

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

header{
    min-width: 1000px;
    height: 335px;
    background-image: url("../img/barcos.webp");
    background-size: 100% 335px;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*ok---------------------------------------------------------*/

.filtro{
    width: 995px;
    height: 145px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
}

/*ok---------------------------------------------------------*/



h2{
    font-weight: bold;
    font-size: 1.5em;
}

main{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.caixas{
    display: flex;
    flex-wrap: wrap;
    gap: 46px;
    margin-bottom: 100px;
}

.caixa{
    background-color: #f35926;
    width: 215px;
    border-radius: 10px;
    height: 200px;
}